.container{
    max-width: 1140px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.display-flex{
    display: flex;
}
.display-block{
    display: block;  
}
.flex-column{
    flex-direction: column;
}
.flex-grow{
    flex-grow: 1;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content:space-around;
}
.justify-content-star{
    justify-content: start;
}
.justify-content-end{
    justify-content: end;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-end{
    align-items: flex-end;
}
.flex-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: -4px;
}

